@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import "tailwindcss";
@theme {
  --font-space-mono: "Share Tech Mono", monospace;
  --secondary: "#2b2b2b";
}

textarea {
  background-color: transparent;
}

textarea.real-dark-scroll::-webkit-scrollbar {
  width: 8px; /* tum isse 4px bhi kar sakte ho */
}

textarea.real-dark-scroll::-webkit-scrollbar-track {
  background: transparent !important; /* white BG remove */
}

textarea.real-dark-scroll::-webkit-scrollbar-thumb {
  background: #3a3a3a; /* dark thumb like your screenshot */
  border-radius: 10px;
}
textarea.real-dark-scroll {
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a transparent;
}
